
/* ::::: http://images.isiknowledge.com/WOK46/css/chemstyles.css ::::: */

.CHEMsearchForm { padding-right: 6px; padding-left: 10px; white-space: nowrap; margin-left: 20px; clear: none; }
.CHEMsearchFormLabel { font-size: 75%; font-weight: bold; padding-right: 6px; padding-left: 10px; padding-top: 0pt; white-space: nowrap; }
.CHEMsearchFormCheck { font-size: 75%; font-weight: bold; padding-right: 6px; padding-left: 10px; padding-top: 0pt; white-space: nowrap; text-align: center; }
.CHEMsearchAidLink { font-size: 75%; padding-right: 6px; padding-left: 10px; padding-top: 0pt; white-space: nowrap; }
.CHEMexample { font-size: 80%; padding-bottom: 4px; color: rgb(51, 51, 51); }
.CHEMfieldText { font-size: 80%; padding-bottom: 1px; color: rgb(51, 51, 51); }
.CHEMheading { font-size: 85%; font-family: Arial,Helvetica,sans-serif; padding-top: 12px; padding-left: 10px; color: rgb(0, 125, 29); padding-bottom: 10px; font-weight: bold; }
.CHEMheadInstr { color: rgb(51, 51, 51); font-weight: normal; }
.CHEMheading2 { font-size: 85%; font-family: Arial,Helvetica,sans-serif; padding-top: 8px; padding-left: 10px; color: rgb(51, 51, 51); padding-bottom: 2px; font-weight: bold; }
.CHEMinstr { font-size: 85%; font-family: Arial,Helvetica,sans-serif; padding-left: 10px; padding-bottom: 6px; color: rgb(51, 51, 51); }
.CHEMinstr2 { font-size: 75%; font-family: Arial,Helvetica,sans-serif; padding-left: 20px; padding-bottom: 3px; color: rgb(51, 51, 51); padding-top: 3px; }
.CHEMtutorial_text { padding: 10px 4px 8px 22px; font-size: 70%; font-family: Arial,Helvetica,sans-serif; text-align: right; float: right; }
.CHEMbackLink { font-family: Arial,Helvetica,sans-serif; font-size: 70%; font-weight: bold; padding-bottom: 2px; }
.CHEMresultsLink { font-family: Arial,Helvetica,sans-serif; font-size: 65%; white-space: nowrap; }
.CHEMsearchStructure { font-family: Arial,Helvetica,sans-serif; background-color: rgb(242, 242, 242); margin-top: 4px; margin-bottom: 4px; padding-bottom: 6px; }
.CHEMsearchCompound { font-family: Arial,Helvetica,sans-serif; background-color: rgb(242, 242, 242); margin-top: 4px; margin-bottom: 4px; padding-bottom: 6px; }
.CHEMsearchReaction { font-family: Arial,Helvetica,sans-serif; background-color: rgb(242, 242, 242); margin-top: 4px; margin-bottom: 4px; padding-bottom: 6px; }
.noPluginMessage { border: 1px dashed rgb(102, 102, 102); margin: 6px 1px 25px; padding-bottom: 3px; padding-top: 3px; background-color: rgb(255, 255, 204); text-align: center; width: 98%; }
.noPluginHead { font-family: Arial,Helvetica,sans-serif; font-size: 80%; font-weight: bold; padding-top: 6px; padding-bottom: 6px; color: rgb(153, 0, 0); }
.noPluginText { font-family: Arial,Helvetica,sans-serif; font-size: 80%; font-weight: normal; padding-bottom: 6px; color: rgb(153, 0, 0); }
.compoundCombine { padding: 4px; font-family: Arial,Helvetica,sans-serif; font-size: 75%; font-weight: bold; color: rgb(51, 51, 51); }
.CHEMsummLinks { text-align: left; background-color: rgb(242, 242, 242); padding-top: 3px; padding-right: 3px; padding-left: 8px; }
.CHEMdothorz { background-image: url('dots_horz.gif'); background-repeat: repeat-x; margin-top: 8px; margin-bottom: 8px; }
.DII_CHEMsearchFormLabel { font-size: 80%; font-weight: bold; padding-right: 6px; padding-left: 10px; padding-top: 0pt; white-space: nowrap; }
.DII_CHEMexample { font-size: 80%; padding-bottom: 4px; color: rgb(51, 51, 51); }
.DII_CHEMfieldText { font-size: 80%; padding-bottom: 1px; color: rgb(51, 51, 51); }
.DII_fieldSelect { font-size: 95%; font-family: Verdana,Arial,Helvetica,sans-serif; }
.CHEMmlButtons { margin-left: 12px; font-size: 75%; }
.CHEMresultsTable { margin-bottom: 7px; margin-top: 9px; }
.CHEMresultsTableFR { border: 1px solid rgb(153, 153, 153); padding: 6px; margin-bottom: 7px; margin-top: 9px; }
.CHEMsummImg { padding: 4px 7px 7px; background-color: rgb(242, 242, 242); text-align: center; }
.CHEMsearchButtons { padding-top: 8px; padding-bottom: 7px; padding-left: 12px; }
.CHEMnavtext { padding-right: 14px; padding-left: 14px; font-size: 80%; text-align: left; font-weight: bold; }
.CHEMradio { font-size: 80%; margin-left: -3px; }
.CHEMcompName { font-size: 80%; font-weight: bold; padding-left: 3px; }
.CHEMsummDesc { font-size: 80%; text-align: left; }
.CHEMtable { background-color: rgb(238, 238, 238); margin-left: 10px; }
.CHEMtableLabel { padding: 3px 5px; font-size: 75%; font-weight: bold; color: rgb(89, 89, 89); }
.CHEMtableData { padding: 3px 10px 3px 5px; font-size: 75%; }
.CHEMdata2 { margin-left: 10px; }
.CHEMdata2Item { padding: 3px 5px; font-weight: normal; color: rgb(0, 0, 0); white-space: nowrap; }
.CHEMdata2Label { padding: 3px 10px 3px 5px; font-weight: bold; color: rgb(89, 89, 89); }
.CHEMfrNav { padding-top: 4px; }
.CHEM_rec_num { font-size: 80%; font-weight: bold; color: rgb(0, 0, 0); padding-right: 10px; padding-left: 10px; }
.CHEMsummName { font-family: Arial,Helvetica,sans-serif; font-size: 75%; font-weight: bold; text-align: center; background-color: rgb(242, 242, 242); padding-bottom: 7px; padding-right: 7px; padding-left: 7px; }

/* ::::: http://sauwok.fecyt.es/images/WOK46/css/textstyles.css ::::: */

body { margin: 0pt 7px 0pt 15px; padding: 0pt; background-position: center top; background-image: url('bg_vert.gif'); background-repeat: repeat-x; background-color: rgb(204, 204, 204); font-family: Arial,Helvetica,sans-serif; z-index: 1; }
.printWhitePage { background-image: url('spacer.gif'); background-repeat: repeat-x; padding-bottom: 0pt; padding-top: 3px; background-color: rgb(255, 255, 255); font-family: "Times New Roman",Times,serif; margin-right: 3px; margin-left: 3px; }
.printWhitePage td { font-size: 85%; }
a[name]:hover, a[id]:hover { color: black; text-decoration: none; }
p { margin-bottom: 0pt; margin-right: 4px; margin-left: 0pt; }
form { margin: 0pt; padding: 0pt; }
.smallV65 { font-size: 65%; line-height: 100%; }
.smallV70 { font-size: 70%; }
.smallV75 { font-size: 75%; }
.smallV80 { font-size: 80%; }
.smallV85 { font-size: 85%; }
.smallV95 { font-size: 95%; }
.smallV110 { font-size: 110%; }
.copyright { font-size: 70%; text-align: center; font-style: italic; font-family: Arial,Helvetica,sans-serif; margin-top: 14px; margin-bottom: 25px; }
.bottomlogobg { background-image: url('bottom_shadow.gif'); background-repeat: repeat-x; margin-right: 12px; }
.instLogosBottom { text-align: center; padding-top: 4px; }
.bannerleft { background: transparent url('topbanner_shadow.gif') repeat-x scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.bannernav { background: transparent url('navbg.gif') repeat-x scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; white-space: nowrap; }
.bannersub { color: rgb(255, 255, 255); text-align: center; }
.bannersubrgt { font-size: 80%; color: rgb(255, 255, 255); font-style: italic; text-align: right; }
.globalnavpad { font-size: 70%; margin-bottom: 6px; margin-right: 8px; }
.contnav { padding: 3px 10px 0pt; background-color: rgb(255, 255, 255); }
.contnav_lower { padding-right: 10px; padding-left: 0pt; background-color: rgb(255, 255, 255); }
.contnavtext { padding-right: 10px; padding-left: 10px; font-size: 75%; text-align: left; height: 24px; vertical-align: middle; }
.contrecord { padding-right: 10px; padding-left: 10px; font-size: 75%; color: rgb(102, 102, 102); }
.dothorz { background-image: url('dots_horz_002.gif'); background-repeat: repeat-x; height: 1px; }
.dotvert { background-image: url('dots_vert.gif'); background-repeat: repeat-y; width: 1px; }
.dotvert_nopanel { background-image: url('dots_vert_8.gif'); background-repeat: repeat-y; padding-left: 18px; }
.pagecntnav { padding: 6px 10px; vertical-align: top; }
.back_arrows { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 90%; }
.pagecontpad { margin-left: 10px; margin-right: 10px; }
.blueshadow { background-image: url('shadow_blue.gif'); background-repeat: repeat-y; }
.lghtgreenhadow { background-image: url('shadow_ltgrn.gif'); background-repeat: repeat-y; }
.greyshadow { background-image: url('shadow_grey.gif'); background-repeat: repeat-y; }
.greenshadow { background-image: url('shadow_green1.gif'); background-repeat: repeat-y; vertical-align: top; }
.whiteshadow { background-image: url('shadow_white.gif'); background-repeat: repeat-y; }
.rightbgblue { padding: 1px 10px 0pt 15px; background-color: rgb(204, 218, 235); }
.rightbgwhite { padding: 0pt 15px; background-color: rgb(255, 255, 255); }
.rightbggreenTop { background-color: rgb(234, 245, 234); }
.rightbggreen { padding: 1px 15px 0pt; background-color: rgb(234, 245, 234); width: 100%; vertical-align: top; }
.rightbggreenMore { padding: 1px 1px 0pt 15px; background-color: rgb(234, 245, 234); width: 210px; }
.combofont { font-size: 10px; }
.rghtpanelhd { font-size: 80%; }
.rghtpanelhdblue { color: rgb(0, 70, 155); padding-bottom: 1px; font-weight: bold; padding-top: 11px; }
.greybg_view { background-color: rgb(242, 242, 242); }
.greybg { background-color: rgb(242, 242, 242); }
.subnavML { font-weight: bold; }
a.subnav:link { color: rgb(53, 80, 202); text-decoration: none; }
a.subnav:active { color: rgb(53, 80, 202); text-decoration: none; }
a.subnav:visited { color: rgb(53, 80, 202); text-decoration: none; }
a.subnav:hover { color: rgb(53, 80, 202); text-decoration: underline; }
a:link { color: rgb(53, 80, 202); text-decoration: none; }
a:active { color: rgb(53, 80, 202); text-decoration: none; }
a:visited { color: rgb(53, 80, 202); text-decoration: none; }
a:hover { color: rgb(53, 80, 202); text-decoration: underline; }
a.topnav:link { color: rgb(53, 80, 202); text-decoration: none; }
a.topnav:active { color: rgb(53, 80, 202); text-decoration: none; }
a.topnav:visited { color: rgb(53, 80, 202); text-decoration: none; }
a.topnav:hover { color: rgb(53, 80, 202); text-decoration: underline; }
a.disabled:link { color: rgb(51, 55, 204); text-decoration: none; }
a.disabled:active { color: rgb(51, 55, 204); text-decoration: none; }
a.disabled:visited { color: rgb(51, 55, 204); text-decoration: none; }
a.disabled:hover { color: rgb(51, 55, 204); text-decoration: underline; }
.tdbgwhite { background-color: rgb(255, 255, 255); }
.tdbgwhitepad { padding-right: 10px; padding-left: 10px; padding-bottom: 8px; background-color: rgb(255, 255, 255); }
.pagecntnav1 { padding-right: 10px; padding-left: 10px; padding-bottom: 8px; vertical-align: top; }
.NEWtext { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; margin-top: 4px; font-style: italic; font-weight: bold; color: rgb(244, 98, 0); }
.searchForm { margin-top: 5px; margin-bottom: 5px; margin-left: 10px; }
.searchForm td { padding-bottom: 5px; padding-top: 5px; }
.searchFormLabel { font-size: 85%; white-space: nowrap; }
.formBoxes { font-size: 75%; font-family: Arial,Helvetica,sans-serif; }
.formBoxesShow { font-size: 75%; font-family: Arial,Helvetica,sans-serif; }
.formBoxesRefine { font-size: 75%; font-family: Arial,Helvetica,sans-serif; }
.formBoxesHoldings { font-size: 70%; font-family: Arial,Helvetica,sans-serif; }
.formBoxesSave { font-size: 70%; font-family: Arial,Helvetica,sans-serif; }
.formBoxesSort { font-size: 75%; font-family: Arial,Helvetica,sans-serif; }
.formBoxesSearch { font-size: 75%; font-family: Arial,Helvetica,sans-serif; width: 100%; }
.formBoxesCRS { font-size: 75%; font-family: Arial,Helvetica,sans-serif; width: 30em; }
.formFieldSelect { font-size: 70%; font-family: Verdana,Arial,Helvetica,sans-serif; }
.formBooleanSelect { font-size: 75%; font-family: Arial,Helvetica,sans-serif; }
.formTimespanSelect { font-size: 75%; font-family: Arial,Helvetica,sans-serif; }
.searchLimitSpacing { padding-top: 3px; }
.formDaysEnter { font-size: 75%; font-family: Arial,Helvetica,sans-serif; }
.pageNumBoxes { font-size: 100%; font-family: Arial,Helvetica,sans-serif; vertical-align: middle; }
.example { font-size: 80%; }
.exampleLabel { font-style: italic; }
.AuthorFinderRow { font-size: 75%; color: rgb(102, 102, 102); }
.inText { font-size: 75%; margin-top: 3px; }
.addAnother { font-size: 75%; }
.searchLimits { margin-top: 12px; margin-bottom: 20px; margin-left: 10px; }
.editions { font-family: Arial,Helvetica,sans-serif; padding-left: 4px; font-size: 75%; text-indent: -24px; margin-left: 34px; color: rgb(51, 51, 51); }
.edition { color: rgb(51, 51, 51); }
.database_category { font-size: 75%; font-weight: bold; color: rgb(51, 51, 51); padding-top: 6px; }
.edition_plus { margin-left: 22px; }
.currentSettings { font-size: 70%; color: rgb(51, 51, 51); }
.searchBtn { margin-top: 12px; margin-bottom: 10px; }
.rememberSettings { font-size: 75%; padding-top: 12px; padding-left: 3px; }
.languages { margin: 3px; }
.languageHdr { font-family: Arial,Helvetica,sans-serif; font-size: 70%; padding-right: 10px; color: rgb(78, 78, 78); }
.languageChars { font-size: 90%; padding-right: 10px; padding-left: 10px; }
.languageText { font-size: 70%; padding-right: 10px; padding-left: 10px; }
.errorMessage { border: 1px dashed rgb(102, 102, 102); margin: 12px 1px; padding-bottom: 3px; padding-top: 3px; background-color: rgb(255, 255, 204); text-align: center; width: 98%; }
.errorHead { font-family: Arial,Helvetica,sans-serif; font-size: 80%; font-weight: bold; padding-top: 6px; padding-bottom: 6px; color: rgb(153, 0, 0); }
.errorText { font-family: Arial,Helvetica,sans-serif; font-size: 80%; font-weight: normal; padding-bottom: 6px; color: rgb(153, 0, 0); }
.noHitsMessage { font-weight: normal; font-size: 9pt; padding-bottom: 1px; color: rgb(68, 68, 68); font-family: Arial,Helvetica,sans-serif; text-align: left; padding-right: 4px; padding-left: 4px; }
.instName { margin: 0pt 5px 5px; font-family: Arial,Helvetica,sans-serif; font-size: 70%; color: rgb(255, 255, 255); text-align: right; width: 80%; }
.instLogo { border: 4px solid rgb(0, 121, 28); margin-bottom: 5px; }
.maintText { color: rgb(153, 51, 0); }
.sidebarWelcome { margin-top: 15px; margin-bottom: -5px; }
.sidebarWelcome th { font-weight: bold; font-size: 85%; text-align: left; font-family: Arial,Helvetica,sans-serif; color: rgb(51, 51, 51); }
.sidebarItem { margin-top: 15px; margin-bottom: 0pt; }
.sidebarItem th { font-weight: bold; font-size: 85%; padding-bottom: 5px; padding-top: 6px; text-align: left; font-family: Arial,Helvetica,sans-serif; color: rgb(51, 51, 51); }
.sidebarItem td { font-size: 75%; text-align: left; color: rgb(51, 51, 51); }
.sidebarItemUNPW { font-size: 75%; text-align: left; padding-left: 10px; }
.sidebarItemUNPW input { font-size: 70%; text-align: left; }
.sidebarItemUNPW .rememberMe { font-size: 70%; text-align: left; font-family: Arial,Helvetica,sans-serif; }
.sidebarItem ul { margin-top: 0pt; padding-left: 0pt; margin-bottom: 0pt; margin-left: 20px; }
.username { margin-top: 10px; }
.password { margin-top: 5px; }
.other_head { font-size: 85%; color: rgb(51, 51, 51); padding-top: 10px; font-weight: bold; padding-bottom: 4px; }
.admin_head { font-size: 85%; color: rgb(51, 51, 51); padding-top: 18px; font-weight: bold; padding-bottom: 4px; }
.other_product { font-size: 85%; font-weight: bold; padding-top: 10px; padding-left: 6px; }
.other_desc { padding: 6px 5px 8px 11px; font-size: 75%; color: rgb(102, 102, 102); }
.other_desc ul { margin-top: 0pt; padding-left: 0pt; margin-bottom: 0pt; margin-left: 25px; padding-bottom: 0pt; }
.special_product { padding-top: 10px; padding-left: 6px; }
.spec_name { font-size: 85%; font-weight: bold; }
.spec_years { font-weight: normal; color: rgb(102, 102, 102); font-size: 75%; }
.special_desc { padding: 6px 5px 8px 11px; font-size: 75%; color: rgb(102, 102, 102); }
.specWhyText { color: rgb(78, 78, 78); width: 211px; }
.special_head { font-size: 85%; font-weight: bold; padding-top: 10px; padding-bottom: 4px; color: rgb(51, 51, 51); }
.special_desc ul { margin-top: 0pt; padding-left: 0pt; margin-bottom: 0pt; margin-left: 25px; padding-bottom: 0pt; }
.other_WoK3Note { padding: 6px; font-weight: normal; color: rgb(51, 51, 51); font-size: 70%; background-color: rgb(242, 242, 242); }
.SummTitle { font-weight: bold; color: rgb(41, 137, 41); font-family: Arial,Helvetica,sans-serif; font-size: 120%; padding-right: 10px; white-space: nowrap; padding-bottom: 4px; }
.TCAsmallHead { font-size: 70%; }
.SummQuery { color: rgb(41, 137, 41); font-size: 90%; padding-top: 6px; }
.moreLink { font-size: 78%; }
.AFfeedback { text-align: left; vertical-align: bottom; white-space: nowrap; }
.SSSlink { font-size: 70%; text-align: left; vertical-align: bottom; white-space: nowrap; padding-bottom: 10px; padding-left: 1px; }
.RefineString { color: rgb(41, 137, 41); font-size: 70%; padding-left: 1px; }
.SummLimits { color: rgb(41, 137, 41); font-size: 70%; padding-left: 1px; padding-bottom: 2px; }
.SummRefine { color: rgb(41, 137, 41); font-size: 70%; padding-left: 1px; padding-bottom: 2px; }
.SummLemmatize { border: 1px dashed rgb(51, 51, 51); padding: 4px 6px; background-color: rgb(226, 232, 241); margin-bottom: 7px; font-size: 75%; color: rgb(51, 51, 51); }
.selectedProduct { font-family: Arial,Helvetica,sans-serif; color: rgb(0, 125, 29); padding-top: 5px; padding-bottom: 3px; font-weight: bold; background-color: rgb(255, 248, 210); padding-left: 10px; font-size: 100%; background-image: url('prodback.jpg'); background-repeat: repeat-x; background-position: center bottom; }
.returnSelectedProduct { font-family: Arial,Helvetica,sans-serif; color: rgb(0, 125, 29); padding-top: 10px; padding-bottom: 8px; font-weight: bold; background-color: rgb(242, 242, 242); padding-left: 10px; }
.backLink { font-family: Arial,Helvetica,sans-serif; font-size: 75%; padding-bottom: 4px; }
.SiloBackLink { font-family: Arial,Helvetica,sans-serif; font-size: 70%; padding-top: 3px; padding-bottom: 1px; }
.CWC_button { text-align: right; padding-right: 6px; font-size: 75%; padding-bottom: 3px; }
.CWC_button a { padding-top: 4px; }
.IBM_button { text-align: right; padding-right: 6px; font-size: 75%; padding-bottom: 4px; }
.IBM_button .regMark { font-family: Arial,Helvetica,sans-serif; font-size: 90%; vertical-align: top; padding-left: 2px; }
.IBM_button a { border-top: 1px solid rgb(204, 204, 204); padding-left: 2px; }
.queryTopBoxQueryDAIS { border: 1px dashed rgb(51, 51, 51); padding: 4px 6px; background-color: rgb(226, 232, 241); margin-bottom: 7px; }
.queryTopBoxQueryDAIStext { font-family: Arial,Helvetica,sans-serif; font-size: 75%; padding-top: 2px; padding-bottom: 2px; }
.DAISlinks { padding-top: 2px; font-size: 75%; padding-bottom: 2px; }
.DAISname { font-weight: bold; padding-top: 2px; font-size: 75%; padding-bottom: 2px; }
.DAISwhy { font-size: 70%; }
.hitCount { white-space: nowrap; }
.goto { padding-right: 6px; padding-left: 6px; font-size: 75%; color: rgb(0, 0, 0); white-space: nowrap; vertical-align: middle; }
.sortby { padding-left: 10px; font-size: 75%; color: rgb(0, 0, 0); white-space: nowrap; text-align: right; }
.summary_pagecntnavMore { margin: 10px; padding: 10px; width: 100%; background-color: rgb(234, 245, 234); }
.summary_pagecntnav { padding-right: 10px; padding-left: 2px; padding-bottom: 8px; width: 100%; }
.summary_nopanel_spacer { width: 8px; }
.summary_TopBox { padding: 8px 10px 2px; }
.summary_quickTop { padding-top: 4px; padding-bottom: 4px; vertical-align: bottom; }
.summary_AR { font-size: 70%; text-align: right; color: rgb(0, 0, 0); padding-top: 0pt; padding-bottom: 0pt; padding-right: 3px; }
.summary_CitCount { font-size: 70%; text-align: right; color: rgb(0, 0, 0); padding-top: 2px; padding-bottom: 1px; padding-right: 3px; }
.CitCountError { font-size: 70%; color: rgb(102, 102, 102); text-align: right; }
.totalCount { font-size: 70%; color: rgb(51, 51, 51); padding-left: 22px; }
.refineSideBarCol { background-color: rgb(255, 255, 255); background-image: url('dots_vert_10.gif'); background-repeat: repeat-y; background-position: left center; }
.refinePadTop { padding-top: 4px; }
.working { font-size: 70%; color: rgb(102, 102, 102); font-family: Arial,Helvetica,sans-serif; margin-left: 6px; }
.refineNone { padding: 2px 2px 2px 20px; font-size: 70%; color: rgb(96, 96, 96); }
.refineSearchText { font-size: 70%; color: rgb(102, 102, 102); font-family: Arial,Helvetica,sans-serif; }
.refineRAtext { font-size: 70%; color: rgb(51, 51, 51); font-family: Arial,Helvetica,sans-serif; padding-top: 5px; padding-bottom: 1px; text-align: center; }
.refineHd { font-size: 75%; font-weight: bold; white-space: nowrap; padding-right: 3px; padding-left: 3px; }
.refineAnalyzeHd { font-size: 75%; font-weight: normal; }
.refineItem { font-family: Arial,Helvetica,sans-serif; font-size: 65%; padding-top: 3px; color: rgb(96, 96, 96); padding-bottom: 1px; }
.refineMore { font-size: 70%; margin-left: 6px; text-align: left; margin-bottom: 2px; }
.refine_closed_spacer { width: 10px; }
.refine_button { padding-top: 5px; padding-bottom: 3px; }
.MoreSortby { padding-left: 10px; color: rgb(0, 0, 0); white-space: nowrap; text-align: right; font-weight: normal; float: right; padding-top: 6px; }
.MoreSortbyText { font-size: 75%; }
.summary_recnum { font-weight: bold; vertical-align: top; white-space: nowrap; padding-right: 4px; font-size: 75%; }
.summary_data { font-size: 75%; padding-bottom: 8px; padding-top: 4px; }
.eFIRST { font-weight: bold; color: rgb(0, 51, 153); font-family: Verdana,Arial,Helvetica,sans-serif; font-style: italic; background-color: rgb(255, 255, 204); }
.CWCsummary_data { font-size: 75%; padding-bottom: 6px; padding-top: 10px; padding-left: 2px; }
.CWC_pagecntnav { padding: 8px 10px 10px; vertical-align: top; }
.hitHilite { background-color: rgb(255, 243, 198); }
.data_bold { font-weight: bold; }
.summEditHd { padding-right: 10px; padding-left: 10px; text-align: left; font-size: 70%; }
.summEditItem { padding-right: 10px; padding-left: 10px; text-align: left; font-size: 70%; color: rgb(102, 102, 102); }
.summEditItemSelected { font-weight: bold; color: rgb(0, 0, 0); }
.contnavtext2 { padding-right: 10px; padding-left: 10px; text-align: left; }
.outputHead { padding: 5px 10px 5px 5px; font-size: 80%; color: rgb(102, 102, 102); font-weight: bold; }
.outputStepCell { color: rgb(102, 102, 102); padding-right: 25px; padding-left: 10px; }
.outputText { font-size: 75%; color: rgb(102, 102, 102); white-space: nowrap; }
.outputStepHead { font-size: 75%; font-weight: bold; color: rgb(102, 102, 102); margin-bottom: 4px; }
.outputSE { padding-top: 1px; padding-bottom: 6px; vertical-align: middle; }
.outputLink { font-size: 90%; padding-left: 12px; font-weight: normal; white-space: nowrap; }
.refineBoxMore { background-color: rgb(234, 245, 234); margin-top: 4px; padding-left: 2px; width: 100%; }
.refineNumSelected { font-family: Arial,Helvetica,sans-serif; font-size: 70%; }
.moreHD { font-family: Arial,Helvetica,sans-serif; font-weight: bold; color: rgb(0, 0, 0); }
.greenSquare { clear: both; float: left; }
.view_all_ref_link { margin-top: -16px; margin-left: 16px; }
.summary_navbar { padding-top: 3px; padding-bottom: 6px; }
.summary_results_text { font-size: 75%; color: rgb(102, 102, 102); }
.summary_hit_count { font-size: 85%; font-weight: bold; margin-left: 4px; }
.refine_more_instr { font-weight: normal; font-size: 70%; color: rgb(96, 96, 96); padding-right: 4px; padding-left: 4px; }
.refine_rule { margin-top: 4px; margin-bottom: 4px; }
.FRbackLink { font-family: Arial,Helvetica,sans-serif; font-size: 70%; font-weight: bold; }
.FR_rec_num { padding-right: 10px; padding-left: 10px; font-size: 75%; color: rgb(102, 102, 102); }
.fr_product_row { font-size: 70%; color: rgb(79, 79, 79); text-align: right; }
.fr_links_row { font-size: 75%; padding-bottom: 10px; padding-top: 0pt; font-weight: bold; }
.fr_links_row .formboxes { font-size: 90%; }
.fr_data_row { font-size: 75%; padding-bottom: 10px; padding-top: 1px; font-family: Arial,Helvetica,sans-serif; }
.fr_dataTable_head { padding: 4px; font-size: 80%; color: rgb(102, 102, 102); font-weight: bold; background-color: rgb(238, 238, 238); }
.fr_dataTable_hilite { padding: 2px 4px; font-size: 75%; font-family: Arial,Helvetica,sans-serif; background-color: rgb(249, 249, 249); }
.fr_dataTable_row { padding: 2px 4px; font-size: 75%; font-family: Arial,Helvetica,sans-serif; }
.citRef { padding-bottom: 6px; }
.FullRecTitle { font-size: 115%; padding-bottom: 10px; color: rgb(41, 137, 41); font-family: Arial,Helvetica,sans-serif; padding-top: 1px; }
.BP_table_hilite { font-family: Arial,Helvetica,sans-serif; font-size: 75%; background-color: rgb(249, 249, 242); }
.BP_table_data { font-family: Arial,Helvetica,sans-serif; font-size: 75%; }
.BP_table_header { font-family: Arial,Helvetica,sans-serif; font-size: 75%; background-color: rgb(238, 238, 221); font-weight: bold; color: rgb(102, 102, 102); }
.FRgreenshadow { background-image: url('shadow_green1.gif'); background-repeat: repeat-y; vertical-align: top; padding-bottom: 1px; }
.FR_side_Text { width: 225px; }
.FRsidebarItem { margin-top: 15px; margin-bottom: 0pt; }
.FRsidebarItem th { font-weight: bold; font-size: 85%; padding-bottom: 5px; padding-top: 6px; text-align: left; font-family: Arial,Helvetica,sans-serif; white-space: nowrap; }
.FRside_instr { color: rgb(0, 0, 0); font-style: normal; font-weight: normal; padding-top: 3px; font-size: 70%; padding-left: 1px; }
.FRside_hits { color: rgb(0, 0, 0); font-style: italic; font-weight: normal; padding-top: 6px; font-size: 75%; padding-left: 1px; padding-right: 1px; }
.FRside_Text { font-size: 75%; text-align: left; }
.FRside_Correction { font-size: 75%; text-align: left; padding-top: 3px; padding-bottom: 4px; }
.FRside_View { padding: 6px 0pt 2px 1px; font-size: 75%; font-weight: bold; color: rgb(0, 0, 0); }
.FRside_rec { padding-top: 7px; padding-bottom: 3px; }
.FRsidebarItem ul { margin-top: 0pt; padding-left: 0pt; margin-bottom: 0pt; margin-left: 20px; }
.FRsidebarItem li { padding-bottom: 1px; font-size: 75%; }
.FRsidebarLI_selected { color: rgb(102, 102, 102); }
.FR_label { font-weight: bold; }
.FR_source_label { font-weight: bold; padding-left: 5px; }
.inWoS { font-size: 80%; font-weight: normal; font-style: normal; padding-left: 8px; color: rgb(79, 79, 79); text-align: right; }
.full_rec_sb_output { padding-bottom: 16px; text-align: center; }
.recordInfoHead { margin-bottom: 8px; margin-left: 18px; margin-top: 3px; }
.source_data_label { color: rgb(102, 102, 102); }
.secondary_record_info_label { font-family: Arial,Helvetica,sans-serif; font-size: 75%; color: rgb(102, 102, 102); }
.secondary_record_info_data { font-family: Arial,Helvetica,sans-serif; font-size: 75%; }
.All_Cit_record_row { padding-top: 8px; }
.above_record { font-size: 80%; padding-bottom: 6px; padding-top: 6px; }
.All_Cit_head { font-size: 85%; color: rgb(0, 0, 0); padding-top: 18px; font-weight: bold; padding-bottom: 4px; }
.All_Cit_data_WoS { padding: 6px 11px; font-family: Arial,Helvetica,sans-serif; font-size: 80%; background-color: rgb(238, 238, 221); font-weight: bold; }
.All_Cit_data { padding: 6px 11px; font-size: 80%; font-weight: bold; white-space: nowrap; }
.All_Cit_hint { padding: 0pt 10px 10px 20px; font-size: 75%; color: rgb(93, 93, 93); background-color: rgb(255, 255, 255); margin-right: 5px; margin-bottom: 5px; }
.Alt_current { font-weight: bold; color: rgb(81, 81, 81); }
.Alt_currentNonBold { color: rgb(81, 81, 81); }
.cr_header_row { font-size: 75%; padding-top: 0pt; padding-left: 7px; }
.relationship { font-size: 75%; padding-top: 8px; padding-bottom: 3px; }
.citedRefTableRow1 { padding: 3px 7px 3px 9px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: Arial,Helvetica,sans-serif; font-size: 75%; }
.citedRefTableRow2 { border-style: none none solid solid; border-color: rgb(255, 255, 255); border-width: 1px 0pt; padding: 3px 7px; background-color: rgb(242, 242, 242); color: rgb(0, 0, 0); font-family: Arial,Helvetica,sans-serif; font-size: 75%; }
.selectCheckbox { vertical-align: top; padding-right: 5px; padding-left: 3px; font-weight: bold; white-space: nowrap; width: 5%; }
.citedSearch2_tablemid { border-style: solid; border-color: rgb(204, 204, 204); border-width: 0pt 2px; padding: 3px; font-family: Arial,Helvetica,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 80%; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; height: 35px; clear: both; }
.citedSearch2tablemid4 { padding: 8px 3px 8px 5px; font-family: Arial,Helvetica,sans-serif; font-size: 75%; color: rgb(102, 102, 102); }
.SecondaryPageTitle { font-size: 100%; font-weight: bold; color: rgb(41, 137, 41); }
.citedRefRelRec { padding-left: 8px; }
.CitedRef_recnum { font-weight: bold; vertical-align: top; white-space: nowrap; padding-right: 6px; text-align: right; padding-left: 2px; }
.citedRef { text-indent: -20px; padding-left: 20px; padding-top: 4px; padding-bottom: 2px; }
.citedRef_pagecntnav { padding: 8px 10px 16px; vertical-align: top; }
.sharedRef_sub { font-size: 75%; font-weight: bold; padding-left: 2px; }
.sharedRef_parent { font-size: 75%; padding-bottom: 6px; padding-left: 2px; }
.sharedRef_recnum { vertical-align: top; padding-right: 4px; padding-left: 5px; font-weight: bold; white-space: nowrap; padding-top: 4px; }
.relatedCounts { font-family: Arial,Helvetica,sans-serif; font-size: 75%; }
.relatedHeading { background: rgb(242, 242, 242) none repeat scroll 0% 0%; font-weight: bold; color: rgb(102, 102, 102); -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; vertical-align: text-top; text-align: center; font-size: 75%; }
.relatedColumn { text-align: center; color: rgb(102, 102, 102); vertical-align: text-top; background-color: rgb(242, 242, 242); font-size: 75%; }
.subTitleString { font-family: Arial,Helvetica,sans-serif; font-size: 75%; color: rgb(0, 0, 0); padding-top: 4px; padding-bottom: 4px; }
.relRec_refs { border-style: solid none solid solid; border-color: rgb(255, 255, 255); border-width: 1px 0pt 1px 2px; margin: 2px; background-color: rgb(242, 242, 242); font-size: 75%; text-align: center; vertical-align: top; padding-right: 4px; padding-left: 4px; }
.relRec_refs_head { border-style: solid none solid solid; border-color: rgb(255, 255, 255); border-width: 1px 0pt 1px 2px; margin: 2px; background-color: rgb(242, 242, 242); font-size: 75%; text-align: center; vertical-align: top; padding-right: 4px; padding-left: 4px; font-weight: bold; color: rgb(102, 102, 102); }
.relRecs_pagecntnav { padding-right: 10px; padding-left: 2px; padding-bottom: 8px; width: 100%; }
.refineByString { font-size: 75%; color: rgb(41, 137, 41); padding-bottom: 8px; padding-left: 18px; margin-top: -4px; }
.refineByStringDAISY { font-size: 75%; color: rgb(41, 137, 41); padding-bottom: 8px; margin-top: -4px; }
.SHTitle { font-weight: bold; color: rgb(41, 137, 41); font-family: Arial,Helvetica,sans-serif; font-size: 100%; padding-right: 10px; white-space: nowrap; padding-bottom: 6px; }
.history_heading { font-family: Arial,Helvetica,sans-serif; font-weight: bold; color: rgb(36, 119, 36); white-space: nowrap; text-align: center; vertical-align: bottom; font-size: 90%; padding-top: 5px; padding-right: 5px; padding-left: 5px; }
.history_heading_row { background-color: rgb(242, 242, 242); text-align: center; vertical-align: top; }
.history_buttons { text-align: center; }
.historyQuery { font-family: Arial,Helvetica,sans-serif; font-size: 75%; }
.historyRefine { font-size: 70%; }
.historyLimits { font-family: Arial,Helvetica,sans-serif; color: rgb(102, 102, 102); font-style: italic; font-size: 70%; }
.historyResults { font-weight: bold; font-size: 75%; }
.empty_history_notice { font-weight: bold; text-align: center; }
.empty_history_more { text-align: center; }
.historyReactions { font-weight: bold; }
.historyOpenBox { padding: 8px 4px; font-weight: normal; font-family: Arial,Helvetica,sans-serif; font-size: 75%; background-color: rgb(242, 242, 242); }
.historyOpenInst { padding-bottom: 8px; font-size: 75%; padding-top: 8px; }
.historySetNum { font-size: 80%; font-family: Arial,Helvetica,sans-serif; white-space: nowrap; }
.history_booleans { font-family: Arial,Helvetica,sans-serif; font-size: 75%; white-space: nowrap; }
.old_sets_highlight { padding: 4px; background-color: rgb(215, 236, 215); margin-right: 10px; margin-left: 10px; white-space: nowrap; }
.historySaveLine { font-size: 75%; background-color: rgb(242, 242, 242); text-align: center; padding-top: 3px; padding-bottom: 3px; }
.syntax20_highlight { padding: 4px; margin-right: 10px; margin-left: 10px; white-space: nowrap; }
.syntax21_highlight { padding: 4px; margin-right: 10px; margin-left: 10px; white-space: nowrap; }
.old_reference_highlight { padding: 4px; background-color: rgb(255, 237, 151); margin-right: 10px; margin-left: 10px; white-space: nowrap; }
.old_reference_help { padding: 3px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; margin-top: 3px; margin-bottom: 3px; background-color: rgb(255, 237, 151); }
.old_sets_help { padding: 3px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; margin-top: 3px; margin-bottom: 3px; background-color: rgb(215, 236, 215); }
.runHead { margin: 0pt 0pt 6px; padding: 0pt; color: rgb(41, 137, 41); font-size: 100%; font-weight: bold; }
.runInstruction { font-size: 80%; font-family: Arial,Helvetica,sans-serif; padding-top: 18px; padding-bottom: 10px; }
.viewHistoryRows { background-color: rgb(242, 242, 242); }
.emailForm { font-family: Arial,Helvetica,sans-serif; font-size: 75%; white-space: nowrap; }
.browse_pagecntnav { padding: 8px 10px; font-size: 85%; }
.browse_subjcat { font-size: 85%; white-space: nowrap; }
.browse_indexnbrs { font-size: 75%; white-space: nowrap; }
.browse_alphanav { font-size: 85%; white-space: nowrap; }
.browse_content { font-size: 85%; white-space: nowrap; }
.browse_summtitle { font-weight: bold; color: rgb(41, 137, 41); font-family: Arial,Helvetica,sans-serif; font-size: 110%; padding-right: 10px; white-space: nowrap; padding-bottom: 4px; }
.browse_sub2 { font-size: 70%; color: rgb(0, 70, 155); padding-bottom: 5px; }
.more_title { padding: 6px 4px; }
.CitReport_pageContent { padding: 8px 10px; vertical-align: top; width: 100%; }
.CitReport_contnav_lower { padding-right: 10px; padding-left: 10px; background-color: rgb(255, 255, 255); }
.unified_instruct { padding: 6px 3px 8px; font-family: Arial,Helvetica,sans-serif; font-size: 70%; color: rgb(102, 102, 102); }
.navTopBox_CR { border: 2px solid rgb(238, 238, 221); font-family: Arial,Helvetica,sans-serif; background-color: rgb(249, 249, 242); margin-bottom: 4px; font-size: 70%; padding-left: 4px; white-space: normal; }
.print_save_email { border-bottom: 2px solid rgb(238, 238, 221); padding: 10px 0pt 5px; font-family: Arial,Helvetica,sans-serif; background-color: rgb(249, 249, 242); text-align: center; font-size: 70%; font-weight: bold; color: rgb(51, 51, 51); white-space: nowrap; }
.stats { font-family: Arial,Helvetica,sans-serif; font-weight: bold; margin-top: 30px; }
.graphData { text-align: right; font-size: 70%; font-weight: bold; padding-top: 5px; padding-bottom: 5px; padding-left: 0pt; vertical-align: bottom; }
.selfCite { padding: 0pt 0pt 2px; font-weight: normal; text-align: right; font-size: 70%; color: rgb(102, 102, 102); }
.graphData_data { padding: 5px 0pt 5px 8px; text-align: left; font-size: 70%; vertical-align: bottom; }
.citrep_thead { font-family: Arial,Helvetica,sans-serif; background-color: rgb(249, 249, 242); }
.totalRow { border-style: none none solid solid; border-color: rgb(255, 255, 255); border-width: 2px; padding: 3px; background-color: rgb(223, 241, 220); color: rgb(0, 0, 0); font-weight: bold; font-size: 70%; text-align: center; }
.totalCol { border-style: none none solid solid; border-color: rgb(255, 255, 255); border-width: 2px; padding: 3px; background-color: rgb(223, 241, 220); font-size: 75%; text-align: center; }
.peryearTotal { border-style: none none solid solid; border-color: rgb(255, 255, 255); border-width: 2px; padding: 3px; background-color: rgb(229, 229, 229); font-size: 75%; text-align: center; }
.tcPerYear { border-style: none none solid solid; border-color: rgb(255, 255, 255); border-width: 2px; padding: 3px; background-color: rgb(242, 242, 242); font-size: 75%; text-align: center; }
#hrow { border-bottom: 2px solid rgb(51, 153, 102); }
.bigChartLink { font-size: 70%; }
.citRep_charts { padding-top: 8px; padding-bottom: 8px; }
.CRpt_Remove { border-bottom: 2px solid rgb(255, 255, 255); padding: 3px 3px 3px 0pt; background-color: rgb(242, 242, 242); text-align: left; vertical-align: bottom; }
.CRpt_RemoveInstr { font-size: 75%; font-weight: normal; }
.signInError { border: 1px solid rgb(153, 0, 0); margin: 12px 1px; padding: 3px; background-color: rgb(255, 255, 204); text-align: center; width: 98%; color: rgb(153, 0, 0); }
.signedIn { font-weight: bold; color: rgb(0, 126, 27); }
.logOutMessHead { color: rgb(0, 126, 27); font-weight: bold; text-align: center; padding-bottom: 20px; font-size: 110%; }
.logOutMessText { color: rgb(0, 0, 0); text-align: center; padding-bottom: 8px; }
.contnav_error { padding: 10px 10px 0pt; background-color: rgb(255, 255, 255); }
.error_pagecntnav { padding: 20px; width: 100%; font-size: 80%; }
.authorSetsHead { border-style: solid none solid solid; border-color: rgb(255, 255, 255); border-width: 1px 0pt 1px 2px; padding: 2px 7px; font-size: 75%; background-color: rgb(230, 230, 230); white-space: nowrap; }
.authorSetsText { font-size: 75%; }
.authorSetsViewBio { font-size: 70%; padding-top: 10px; }
.setDataItem { font-size: 70%; padding-bottom: 3px; }
.authorSetsTable { padding-top: 5px; padding-bottom: 5px; }
.ADVheading { font-size: 85%; font-family: Arial,Helvetica,sans-serif; padding-top: 10px; padding-left: 10px; color: rgb(0, 125, 29); padding-bottom: 2px; }
.ADVheadInstr { color: rgb(51, 51, 51); }
.AdvInstruction { font-size: 85%; font-family: Arial,Helvetica,sans-serif; padding-top: 10px; padding-left: 10px; padding-bottom: 4px; }
.ADVtutorial_text { font-family: Arial,Helvetica,sans-serif; font-size: 70%; text-align: right; padding-bottom: 8px; padding-right: 4px; }
.examples { font-size: 75%; vertical-align: top; padding-top: 5px; padding-right: 4px; font-style: italic; color: rgb(51, 51, 51); padding-left: 24px; text-align: left; }
.adv_example { font-size: 75%; padding-top: 5px; color: rgb(51, 51, 51); padding-bottom: 2px; }
.AdvSearchBox { padding: 6px 6px 6px 16px; }
.AdvSearchButton { padding: 6px 6px 6px 16px; }
.search_aids_listing { font-size: 75%; padding-right: 6px; padding-left: 16px; color: rgb(102, 102, 102); padding-top: 6px; text-align: left; }
.AidLabel { font-weight: normal; color: rgb(0, 0, 0); font-style: italic; }
.limits { padding-right: 6px; padding-bottom: 6px; padding-left: 16px; }
.limits_instr { padding: 12px 6px 4px 16px; font-size: 75%; }
.field_tag_heading { padding: 2px 4px; font-size: 70%; font-weight: bold; background-color: rgb(249, 242, 242); white-space: nowrap; }
.field_tags { padding: 2px 4px; font-size: 65%; white-space: nowrap; color: rgb(51, 51, 51); font-family: Verdana,Arial,Helvetica,sans-serif; }
.field_tag_booleans { padding: 2px 4px; font-size: 65%; font-weight: bold; color: rgb(51, 51, 51); font-family: Verdana,Arial,Helvetica,sans-serif; }
.field_tag_table_cell { padding: 10px 6px 6px 16px; }
.field_tag { font-weight: bold; }
.Adv_formBoxesSearch { font-size: 75%; font-family: Arial,Helvetica,sans-serif; width: 95%; }
.Adv_searchRestrict { margin-top: 4px; margin-bottom: 16px; margin-left: 16px; }
.Adv_formRestrict { font-size: 75%; font-family: Arial,Helvetica,sans-serif; }
.Adv_searchLimits { margin-top: 6px; margin-bottom: 2px; margin-left: 16px; }
.Adv_searchFormLabel { font-size: 75%; white-space: nowrap; }
.Adv_searchLimitsInstr { font-size: 75%; white-space: nowrap; padding-top: 4px; padding-bottom: 2px; }
.CRsearchFormLabel { font-size: 80%; font-weight: bold; padding-right: 6px; padding-left: 10px; padding-top: 0pt; white-space: nowrap; }
.CRexample { font-size: 80%; padding-bottom: 4px; color: rgb(51, 51, 51); }
.CRfieldText { font-size: 80%; padding-bottom: 1px; color: rgb(51, 51, 51); }
.CRSheading { font-size: 85%; font-family: Arial,Helvetica,sans-serif; padding-top: 12px; padding-left: 10px; color: rgb(0, 125, 29); padding-bottom: 10px; font-weight: bold; }
.CRSheadInstr { color: rgb(51, 51, 51); font-weight: normal; }
.CRsteps { font-size: 85%; font-family: Arial,Helvetica,sans-serif; padding-left: 10px; padding-bottom: 6px; color: rgb(51, 51, 51); font-weight: bold; }
.CRstepsInstr { font-family: Arial,Helvetica,sans-serif; color: rgb(51, 51, 51); font-weight: normal; }
.CR2instruction { font-size: 80%; font-family: Arial,Helvetica,sans-serif; padding-top: 4px; padding-bottom: 10px; padding-left: 10px; white-space: nowrap; }
.CRtutorial_text { padding: 10px 4px 0pt 11px; font-size: 70%; font-family: Arial,Helvetica,sans-serif; text-align: right; float: right; }
.CRbackLink { font-family: Arial,Helvetica,sans-serif; font-size: 70%; font-weight: bold; padding-bottom: 2px; }
.citedSearchTableHead { border-style: solid none solid solid; border-color: rgb(255, 255, 255); border-width: 1px 0pt 1px 2px; padding: 3px 7px; font-size: 70%; background-color: rgb(230, 230, 230); color: rgb(51, 51, 51); font-weight: bold; white-space: nowrap; }
.CR2arrow { padding: 8px 8px 8px 12px; vertical-align: top; }
.CR2buttonRow { background-color: rgb(219, 219, 219); padding-bottom: 1px; margin-bottom: 2px; white-space: nowrap; }
.CR2buttonBar { margin: 3px 0pt 2px 2px; padding: 2px 2px 4px; background-color: rgb(219, 219, 219); white-space: nowrap; }
.aster { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 90%; }
.CRSelCol { border-style: solid none solid solid; border-color: rgb(255, 255, 255); border-width: 1px 0pt 1px 2px; padding: 1px 3px; background-color: rgb(219, 219, 219); font-size: 75%; text-align: center; }
.CRSelectHeading { font-size: 90%; color: rgb(41, 137, 41); font-weight: bold; padding-top: 6px; }
.DSSelCol { border-style: solid none solid solid; border-color: rgb(255, 255, 255); border-width: 1px 0pt 1px 2px; padding: 1px 3px; background-color: rgb(219, 219, 219); font-size: 75%; text-align: center; }
.DSTableHead { border-style: solid none solid solid; border-color: rgb(255, 255, 255); border-width: 1px 0pt 1px 2px; font-size: 70%; background-color: rgb(230, 230, 230); padding-right: 7px; padding-left: 7px; color: rgb(51, 51, 51); font-weight: bold; white-space: nowrap; }
.DSarrow { padding: 8px 8px 8px 12px; }
.DSbuttonBar { margin: 2px 0pt 2px 2px; padding: 2px 2px 0pt; background-color: rgb(219, 219, 219); }
.DSTableRow1 { padding: 1px 7px 1px 9px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: Arial,Helvetica,sans-serif; }
.DSTableRow2 { border-style: none none solid solid; border-color: rgb(255, 255, 255); border-width: 1px 0pt 1px 2px; padding: 1px 7px; background-color: rgb(242, 242, 242); color: rgb(0, 0, 0); font-family: Arial,Helvetica,sans-serif; }
.DSLimits { color: rgb(41, 137, 41); font-size: 70%; padding-left: 1px; padding-bottom: 7px; }
.DSinstruction { font-size: 80%; font-family: Arial,Helvetica,sans-serif; padding-top: 2px; padding-bottom: 7px; padding-left: 10px; }
.asterisk { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 90%; }
.DSfeedback_contnav { padding: 10px 10px 0pt; background-color: rgb(255, 255, 255); }
.DSfeedback_pagecntnav { padding: 8px 10px 10px; vertical-align: top; }
.DAISYformBoxes { font-size: 75%; font-family: Arial,Helvetica,sans-serif; width: 95%; }
.DSfeedbackText { font-size: 75%; padding-top: 2px; padding-bottom: 2px; }
.DSFeedbackHead { padding: 3px 7px; font-size: 75%; font-weight: bold; background-color: rgb(219, 219, 219); }
.DSFeedbackRow { padding: 3px 3px 3px 7px; }
.DAheadNB { font-weight: normal; }
.DAfeedbackBox { padding: 10px; background-color: rgb(242, 242, 242); }
.DAfeedback_buttons { text-align: right; padding-top: 15px; padding-bottom: 5px; padding-left: 5px; height: 19px; }
.turn_notice { font-weight: bold; color: rgb(51, 51, 51); padding-top: 20px; font-size: 110%; }
.your_editions { padding-top: 6px; }
.eFirst { font-family: Arial,Helvetica,sans-serif; }
.selectedProduct .regMark { font-family: Arial,Helvetica,sans-serif; font-size: 90%; vertical-align: top; padding-left: 2px; }
.selectedProduct .TMMark { font-family: Arial,Helvetica,sans-serif; font-size: 65%; vertical-align: top; padding-left: 2px; }
.special_product .regMark { font-family: Arial,Helvetica,sans-serif; font-size: 90%; vertical-align: top; padding-left: 1px; }
.special_product .TMMark { font-family: Arial,Helvetica,sans-serif; font-size: 68%; vertical-align: top; }
.other_product .regMark { font-family: Arial,Helvetica,sans-serif; font-size: 90%; vertical-align: top; padding-left: 1px; }
.other_product .TMMark { font-family: Arial,Helvetica,sans-serif; font-size: 68%; vertical-align: top; }
.other_desc .regMark { font-family: Arial,Helvetica,sans-serif; font-size: 100%; vertical-align: top; padding-left: 1px; }
.other_desc .TMMark { font-family: Arial,Helvetica,sans-serif; font-size: 75%; vertical-align: top; }
.fr_product_row .regMark { font-family: Arial,Helvetica,sans-serif; vertical-align: top; padding-left: 1px; }
.fr_product_row .TMMark { font-family: Arial,Helvetica,sans-serif; font-size: 75%; vertical-align: top; }
.archiveImage { padding-top: 8px; }
.correctionInstr { padding: 8px 3px 10px 0pt; font-family: Arial,Helvetica,sans-serif; font-size: 75%; color: rgb(102, 102, 102); }
.subCorrection { padding: 8px 3px 0pt 0pt; }
.correction_data { font-size: 75%; font-family: Arial,Helvetica,sans-serif; padding-top: 10px; }
.abstractsOnly { font-size: 80%; }
.mappingInstr { font-size: 80%; padding-bottom: 4px; padding-top: 6px; }
.mapContinue { padding-bottom: 8px; padding-top: 8px; }
.mappingTerm { font-size: 80%; padding-top: 4px; padding-left: 4px; }
.mappingItem { padding-bottom: 2px; padding-left: 16px; font-size: 75%; }
.mappingArea { margin: 4px; }
.MEDexplode { font-size: 75%; color: rgb(51, 51, 51); padding-left: 10px; line-height: 80%; padding-bottom: 3px; white-space: nowrap; }
.field_tagsExample { padding: 2px 4px; font-size: 70%; font-family: Verdana,Arial,Helvetica,sans-serif; }
.DIIpan { float: right; padding-left: 40px; padding-bottom: 10px; }
.CITEDradio { font-size: 80%; margin-left: -3px; }
.mark_instruct { font-size: 80%; padding-top: 8px; }
.pcByCell { border-right: 2px solid rgb(255, 255, 255); }
.pcByHead { border-right: 2px solid rgb(255, 255, 255); padding: 3px; background-color: rgb(229, 229, 229); font-size: 75%; text-align: center; }
.citedPatentTable { margin-bottom: 8px; margin-top: 8px; }
.fr_linkTable_row { font-size: 75%; font-family: Arial,Helvetica,sans-serif; padding-top: 2px; padding-right: 20px; padding-bottom: 2px; }
.special_JCR { border: 1px dashed rgb(51, 51, 51); padding: 4px; margin-top: 12px; margin-bottom: 4px; margin-right: 6px; background-color: rgb(242, 249, 242); }
#searchTabsTable { margin-top: 2px; margin-bottom: 2px; }
.otherProductLink { font-family: Arial,Helvetica,sans-serif; font-size: 75%; color: rgb(255, 255, 255); }
a.otherProductLink:link { color: rgb(255, 255, 255); text-decoration: none; }
a.otherProductLink:active { color: rgb(255, 255, 255); text-decoration: none; }
a.otherProductLink:visited { color: rgb(255, 255, 255); text-decoration: none; }
a.otherProductLink:hover { color: rgb(255, 255, 255); text-decoration: underline; }
.records_chunk { display: none; }
.hiliteTarget { background-color: rgb(255, 255, 179); }
.trLogo { text-align: right; }
.trRules { background-image: url('tr_rules.gif'); background-repeat: repeat-x; margin-right: 12px; margin-left: 12px; }
.trBotShad { background-image: url('tr_bot_shad.gif'); background-repeat: repeat-x; }
.trLinks { font-family: Arial,Helvetica,sans-serif; font-size: 65%; color: rgb(151, 150, 154); float: left; padding-top: 26px; padding-left: 20px; }
.trByTR { font-family: Arial,Helvetica,sans-serif; font-size: 65%; font-style: italic; text-align: right; margin-right: 22px; color: rgb(151, 150, 154); }
.secondary_record_citMap { font-size: 75%; margin-top: 2px; margin-left: -4px; }
.nowISIP { font-size: 80%; padding-left: 5px; }
.contnav_ncbi { padding: 10px 10px 0pt; background-color: rgb(255, 255, 255); }
.ncbi_pagecntnav { padding: 20px; width: 100%; font-size: 80%; }
.ncbi_instruction { padding-right: 20px; font-weight: bold; }
.ncbi_links { padding: 2px; }
.TCnote { padding: 2px; background-color: rgb(254, 250, 223); }
.AllCitationCountsBox { border: 1px dashed rgb(51, 51, 51); padding: 4px 6px; background-color: rgb(226, 236, 245); margin-bottom: 7px; }

/* ::::: http://sauwok.fecyt.es/images/WOK46/css/chemstyles.css ::::: */

.CHEMsearchForm { padding-right: 6px; padding-left: 10px; white-space: nowrap; margin-left: 20px; clear: none; }
.CHEMsearchFormLabel { font-size: 75%; font-weight: bold; padding-right: 6px; padding-left: 10px; padding-top: 0pt; white-space: nowrap; }
.CHEMsearchFormCheck { font-size: 75%; font-weight: bold; padding-right: 6px; padding-left: 10px; padding-top: 0pt; white-space: nowrap; text-align: center; }
.CHEMsearchAidLink { font-size: 75%; padding-right: 6px; padding-left: 10px; padding-top: 0pt; white-space: nowrap; }
.CHEMexample { font-size: 80%; padding-bottom: 4px; color: rgb(51, 51, 51); }
.CHEMfieldText { font-size: 80%; padding-bottom: 1px; color: rgb(51, 51, 51); }
.CHEMheading { font-size: 85%; font-family: Arial,Helvetica,sans-serif; padding-top: 12px; padding-left: 10px; color: rgb(0, 125, 29); padding-bottom: 10px; font-weight: bold; }
.CHEMheadInstr { color: rgb(51, 51, 51); font-weight: normal; }
.CHEMheading2 { font-size: 85%; font-family: Arial,Helvetica,sans-serif; padding-top: 8px; padding-left: 10px; color: rgb(51, 51, 51); padding-bottom: 2px; font-weight: bold; }
.CHEMinstr { font-size: 85%; font-family: Arial,Helvetica,sans-serif; padding-left: 10px; padding-bottom: 6px; color: rgb(51, 51, 51); }
.CHEMinstr2 { font-size: 75%; font-family: Arial,Helvetica,sans-serif; padding-left: 20px; padding-bottom: 3px; color: rgb(51, 51, 51); padding-top: 3px; }
.CHEMtutorial_text { padding: 10px 4px 8px 22px; font-size: 70%; font-family: Arial,Helvetica,sans-serif; text-align: right; float: right; }
.CHEMbackLink { font-family: Arial,Helvetica,sans-serif; font-size: 70%; font-weight: bold; padding-bottom: 2px; }
.CHEMresultsLink { font-family: Arial,Helvetica,sans-serif; font-size: 65%; white-space: nowrap; }
.CHEMsearchStructure { font-family: Arial,Helvetica,sans-serif; background-color: rgb(242, 242, 242); margin-top: 4px; margin-bottom: 4px; padding-bottom: 6px; }
.CHEMsearchCompound { font-family: Arial,Helvetica,sans-serif; background-color: rgb(242, 242, 242); margin-top: 4px; margin-bottom: 4px; padding-bottom: 6px; }
.CHEMsearchReaction { font-family: Arial,Helvetica,sans-serif; background-color: rgb(242, 242, 242); margin-top: 4px; margin-bottom: 4px; padding-bottom: 6px; }
.noPluginMessage { border: 1px dashed rgb(102, 102, 102); margin: 6px 1px 25px; padding-bottom: 3px; padding-top: 3px; background-color: rgb(255, 255, 204); text-align: center; width: 98%; }
.noPluginHead { font-family: Arial,Helvetica,sans-serif; font-size: 80%; font-weight: bold; padding-top: 6px; padding-bottom: 6px; color: rgb(153, 0, 0); }
.noPluginText { font-family: Arial,Helvetica,sans-serif; font-size: 80%; font-weight: normal; padding-bottom: 6px; color: rgb(153, 0, 0); }
.compoundCombine { padding: 4px; font-family: Arial,Helvetica,sans-serif; font-size: 75%; font-weight: bold; color: rgb(51, 51, 51); }
.CHEMsummLinks { text-align: left; background-color: rgb(242, 242, 242); padding-top: 3px; padding-right: 3px; padding-left: 8px; }
.CHEMdothorz { background-image: url('dots_horz_002.gif'); background-repeat: repeat-x; margin-top: 8px; margin-bottom: 8px; }
.DII_CHEMsearchFormLabel { font-size: 80%; font-weight: bold; padding-right: 6px; padding-left: 10px; padding-top: 0pt; white-space: nowrap; }
.DII_CHEMexample { font-size: 80%; padding-bottom: 4px; color: rgb(51, 51, 51); }
.DII_CHEMfieldText { font-size: 80%; padding-bottom: 1px; color: rgb(51, 51, 51); }
.DII_fieldSelect { font-size: 95%; font-family: Verdana,Arial,Helvetica,sans-serif; }
.CHEMmlButtons { margin-left: 12px; font-size: 75%; }
.CHEMresultsTable { margin-bottom: 7px; margin-top: 9px; }
.CHEMresultsTableFR { border: 1px solid rgb(153, 153, 153); padding: 6px; margin-bottom: 7px; margin-top: 9px; }
.CHEMsummImg { padding: 4px 7px 7px; background-color: rgb(242, 242, 242); text-align: center; }
.CHEMsearchButtons { padding-top: 8px; padding-bottom: 7px; padding-left: 12px; }
.CHEMnavtext { padding-right: 14px; padding-left: 14px; font-size: 80%; text-align: left; font-weight: bold; }
.CHEMradio { font-size: 80%; margin-left: -3px; }
.CHEMcompName { font-size: 80%; font-weight: bold; padding-left: 3px; }
.CHEMsummDesc { font-size: 80%; text-align: left; }
.CHEMtable { background-color: rgb(238, 238, 238); margin-left: 10px; }
.CHEMtableLabel { padding: 3px 5px; font-size: 75%; font-weight: bold; color: rgb(89, 89, 89); }
.CHEMtableData { padding: 3px 10px 3px 5px; font-size: 75%; }
.CHEMdata2 { margin-left: 10px; }
.CHEMdata2Item { padding: 3px 5px; font-weight: normal; color: rgb(0, 0, 0); white-space: nowrap; }
.CHEMdata2Label { padding: 3px 10px 3px 5px; font-weight: bold; color: rgb(89, 89, 89); }
.CHEMfrNav { padding-top: 4px; }
.CHEM_rec_num { font-size: 80%; font-weight: bold; color: rgb(0, 0, 0); padding-right: 10px; padding-left: 10px; }
.CHEMsummName { font-family: Arial,Helvetica,sans-serif; font-size: 75%; font-weight: bold; text-align: center; background-color: rgb(242, 242, 242); padding-bottom: 7px; padding-right: 7px; padding-left: 7px; }
