
/* ::::: http://audioslides.elsevier.com/Styles/jsplayer.css ::::: */

* { margin: 0px; padding: 0px; border: 0px none; font-family: inherit; font-style: inherit; font-weight: inherit; line-height: inherit; font-stretch: inherit; font-feature-settings: inherit; font-language-override: inherit; font-kerning: inherit; font-synthesis: inherit; font-variant: inherit; font-size: 100%; font-size-adjust: none; letter-spacing: normal; vertical-align: middle; border-collapse: collapse; border-spacing: 0px; list-style: outside none none; quotes: none; }
blockquote::before, blockquote::after, q::before, q::after { content: none; }
body { background-color: rgb(255, 255, 255); width: 100%; height: 100%; margin: 0px; overflow: hidden; font-size: 100%; }
#viewer { background-color: rgb(238, 238, 238); width: 100%; height: 100%; }
#viewerContent { width: 100%; height: 100%; }
#viewport { width: 100%; height: 100%; }
#slideImage { visibility: hidden; }
@media only screen and (orientation: portrait) {
  #slideImage { position: absolute; display: block; max-width: 100%; width: auto; height: auto; margin: auto; left: 0px; right: 0px; }
}
@media only screen and (orientation: landscape) {
  #slideImage { position: absolute; display: block; max-height: calc(100% - 58px); width: auto; height: auto; margin: auto; left: 0px; right: 0px; }
}
#progress { bottom: 0px; left: 0px; background-color: rgb(102, 102, 102); height: 18px; }
#progressBackground { width: 100%; }
#progressBar { background-color: rgb(204, 204, 204); width: 33%; height: 90%; }
#controls { background-color: rgb(225, 225, 225); width: 100%; height: 44px; }
#muteButton { margin-top: 3px; margin-left: 2px; float: left; width: 20px; height: 22px; }
#muteButton:focus { outline: medium none; }
.unMuted { border-style: none; background: transparent url('jsPlayer_controls.png') repeat scroll 0px -1px; cursor: pointer; }
.muted { border-style: none; background: transparent url('jsPlayer_controls.png') repeat scroll 0px -25px; cursor: pointer; }
#volumeSlider { width: 50px; height: 22px; float: left; padding: 3px; }
#volumeControl img.volumeControl { width: 38px; height: 22px; background: transparent url('jsPlayer_controls.png') repeat scroll -20px -2px; }
#playControls { display: table; margin: 0px auto; }
#rewindButton { margin-top: 1px; float: left; }
#rewindButton { width: 36px; height: 24px; border-style: none; background: transparent url('jsPlayer_controls.png') repeat scroll -78px 0px; cursor: pointer; outline: medium none; }
#rewindButton:hover { background: transparent url('jsPlayer_controls.png') repeat scroll -78px -24px; }
#playButton { margin-top: 1px; float: left; width: 36px; height: 24px; }
#largePlayButton { position: absolute; display: none; border-style: none; outline: medium none; width: 104px; height: 72px; top: 0px; bottom: 0px; left: 0px; right: 0px; }
.playStateLarge { border-style: none; background: transparent url('controls_large_play_button.png') repeat scroll -112px 0px; cursor: pointer; outline: medium none; }
.pauseStateLarge { border-style: none; background: transparent url('controls_large_play_button.png') repeat scroll -112px -74px; cursor: pointer; outline: medium none; }
.playState { border-style: none; background: transparent url('jsPlayer_controls.png') repeat scroll -112px 0px; cursor: pointer; outline: medium none; }
.pauseState { border-style: none; background: transparent url('jsPlayer_controls.png') repeat scroll -112px -24px; cursor: pointer; outline: medium none; }
#forwardButton { margin-top: 1px; float: left; }
#forwardButton { width: 36px; height: 24px; border-style: none; background: transparent url('jsPlayer_controls.png') repeat scroll -146px 0px; cursor: pointer; outline: medium none; }
#forwardButton:hover { background: transparent url('jsPlayer_controls.png') repeat scroll -146px -24px; }

/* ::::: null ::::: */

a, a:link { position: relative; color: rgb(1, 86, 170); text-decoration: none; vertical-align: baseline; }
p, div { font-family: arial,verdana,helvetica,sans-serif; font-size: 11px; font-weight: 400; }
#topContainer { position: relative; }
#report { float: left; }
#info { margin-top: 5px; color: rgb(92, 92, 92); font-style: italic; }
img { vertical-align: middle; }
.fullScreen { top: -27px; }
.fullScreen a { display: inline-block; width: 24px; height: 17px; right: 13px; text-indent: -85px; z-index: 5; position: absolute; bottom: 5px; }
.fullScreen a { position: absolute; background: transparent url('btnFullscreenSprite.gif') no-repeat scroll center top; }
.fullScreen a:hover { background-position: center bottom; }
#audioslideViewer { margin-top: 0px; position: relative; z-index: 0; }
